.admin-dashboard {
  padding: 2rem;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.filters input,
.filters select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.chart-box {
  flex: 1 1 45%;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.chart-center {
  display: flex;
  justify-content: center;
  align-items: center;
}